<div class="container mt-4" >
    <h1>User Table</h1>
<table class="table">
    <thead>
     <h1 *ngIf="!isResultLoaded">Loading.................</h1>      
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Email Id</th>  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let UserItem of UserArray">
            <td>{{UserItem.id  }}</td>
        <td>{{UserItem.uname }}</td>
        <td>{{UserItem.uemail }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="setUpdate(UserItem)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="setDelete(UserItem)">Delete</button>            
        </td>
      </tr>          
    </tbody>
  </table>
</div>
